.cajaMovil {
    height: 50%;
    width: 50%;
    position: relative;
    perspective: 7000px;
    transform-style: preserve-3d;
    /* ESTA ES LA LINEA QUE DEPENDE DEL TAMAÑO DEL DIV AL QUE SE INCLUYA 
    
        MODIFICANDO TRASLATE Y*/
    transform:  translateY(-210px) translateZ(-80px);
}
.cajaFrontal {
    position: absolute;
    width: 80px;
    height: 20px;
    transform: translateZ(20px);
    background-color: black;
}
.infoMovil {
    position: absolute;
    width: 76px;
    height: 18px;
    transform: translateZ(21px) translateX(2px) translateY(1px);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 8px;
}

.cajaTrasera {
    position: absolute;
    width: 80px;
    height: 20px;
    background-color: #828282;
    transform: rotateY(180deg);
}

.cajaIzquierda {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #828282;
    transform: rotateY(90deg) translateZ(-10px) translateX(-10px) rotateY(180deg);
}

.cajaDerecha {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #828282;
    transform: rotateY(90deg) translateZ(70px) translateX(-10px) translateY(0px);
}

.cajaSuperior {
    position: absolute;
    width: 80px;
    height: 20px;
    transform: rotateX(90deg) translateZ(10px) translateY(10px);
    background-color: #828282
}
.cajaInferior{
    position: absolute;
    width: 80px;
    height: 20px;
    transform: rotateX(90deg) translateZ(-10px) translateY(10px);
    background-color: #828282
}
